/* Variables -- Main colors and fonts */
:root {
    --main-color: #FFB400;
    --main-bg-color: #111111;
    --icons-bg: #2b2a2a;
    --another-icons-bg: #444;
    --font-pop: 'Poppins', sans-serif;
    --font-open: 'Open Sans', sans-serif;
    --shadow-color: #222222;
    --divider-color: #252525;
}

/* ====================================== Global Styles ====================================== */

* {
    box-sizing: border-box;
}

body {
    background-color: var(--icons-bg);
}


/* ====================================== HOME ====================================== */
/* Home section (page) */
#home, #about, #portfolio {
    background-color: var(--main-bg-color);
}

/* Styling image and orange div section */
.orange-bg-image {
    background-color: var(--main-color);
    height: 100vh;
    transform: skew(17deg);
}

.pp  {
    width: 80%;
    transform: translate( 0% , 25%);
    border-radius: 7%;
}

/* Styling intro info section */
.home-intro h1 {
    color: var(--main-color);
    position: relative;
    font-size: 51px;
    font-family: var(--font-pop);
}

.home-intro h1::before {
    content: "";
    width: 30px;
    height: 3px;
    background-color: var(--main-color);
    position: absolute;
    top: 50%;
    left: -7%;
    border-radius: 3px;
}

.home-intro h2 {
    font-size: 51px;
    font-family: var(--font-pop);
}

.home-intro p {
    font-family: var(--font-open);
}

button {
    background-color: var(--main-bg-color);
    border: 2px solid var(--main-color);
    position: relative;
    margin-top: 1rem;
    padding-right: 4rem !important;
}

button span {
    position: absolute;
    background-color: var(--main-color);
    width: 50px;
    height: 50px;
    padding: 15px;
    border-radius: 50%;
    top: 5%;
    right: 0%;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* Styling navigation section */
.icons {
    position: fixed;
    top: 25%;
    right: 2.5%;
}

.light-night-mode {
    position: fixed;
    right: 2.5%;
    top: 1.5%;
}

.light-night-mode i {
    font-size: 1.4rem;
}

.icons a, .light-night-mode a {
    width: 50px;
    height: 50px;
    background-color: var(--another-icons-bg);
    color: #fff;
    border-radius: 50%;
    margin: 15px 0;
    text-decoration: none;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.6s;
    position: relative;
}

.icons a:hover {
    background-color: var(--main-color);
}

.active {
    background-color: var(--main-color) !important;
}

.icons span {
    position: absolute;
    right: 15%;
    text-transform: uppercase;
    width: 175px;
    height: 50px;
    font-family: var(--font-open);
    background-color: var(--main-color);
    border-radius: 25px;
    z-index: 1;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.5s;
    opacity: 0;
}

.icons a:hover span {
    opacity: 1;
}

/* ====================================== My Modal ====================================== */

.parent-modal {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(17, 17, 17, 0.9);
    display: none;
}

.my-modal {
    width: 60%;
    height: 500px;
    background-color: var(--main-bg-color);
    overflow-y: auto;
    position: absolute;
    z-index: 555;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: display 1s;
    display: none;
}

.close-modal {
    cursor: pointer;
    position: absolute;
    right: 17%;
    top: 8%;
    z-index: 150;
    font-size: 3rem;
    color: #fff;
}


/* ====================================== HOME ====================================== */
/* =======================HOME MEDIA QUERY========================== */
/* Media Query */
@media screen and (max-width: 978px) {

    #home {
        height: 90vh !important;
        overflow: auto;
        display: flex;
        align-items: center;
    }

    .icons {
        position: fixed;
        background-color: var(--icons-bg);
        right: 0;
        top: auto;
        bottom: -2%;
        width: 100%;
    }

    .icons ul {
        display: flex;
        justify-content: space-around;
    }

    .icons span {
        display: none;
    }

    .icons a {
        background-color: var(--another-icons-bg);
    }

    .orange-container {
        display: none !important;
    }

    .pp {
        border-radius: 50%;
        width: 35%;
        border: 4px solid #222;
        transform: translate(100%, 10%);
    }

    .home-intro {
        padding-top: 2rem;
    }

    .home-intro h1, .home-intro h2 {
        font-size: 38px;
        text-align: center;
    }

    .home-intro p {
        font-size: 14px;
        text-align: center;
        width: 80%;
        margin: auto;
        padding-bottom: 10px;
    }

    .home-intro button {
        display: block;
        margin-left: auto;
        margin-right: auto;
    }

    .my-modal {
        width: 75%;
    }

    .close-modal {
        font-size: 2rem;
    }

}

/* ===================== Media Query 600px ===================== */
@media screen and (max-width: 600px) {

    .pp {
        width: 50%;
        transform: translate(50%, 10%);
    }

    .home-intro h1, .home-intro h2 {
        font-size: 29px;
    }

    .my-modal {
        width: 75%;
    }

    .close-modal {
        font-size: 2rem;
    }
}

/* ===================== Media Query 400px ===================== */
@media screen and (max-width: 400px) {

    #home {
        display: flex;
        align-items: center;
    }

    .pp {
        width: 50%;
        transform: translate(50%, 10%);
    }

    .home-intro {
        padding-bottom: 2rem;
        padding-top: 3rem;
    }

    .home-intro h2 {
        font-size: 25px;
    }

    .home-intro p {
        line-height: 2;
    }
    .close-modal {
        font-size: 2rem;
    }
}
/* ====================================== HOME ====================================== */
/* ============================================================================ */
/* ====================================== ABOUT ====================================== */
/* About page */
#about .about-title h2, #portfolio .portfolio-title h2,
.my-modal .about-title h2 {
    font-size: 56px;
    font-family: var(--font-pop);
    text-transform: uppercase;
    color: #fff;
    position: relative;
    z-index: 645455;
}

#about .about-title .me, #portfolio .portfolio-title .me,
.my-modal .about-title .me {
    color: var(--main-color) !important;
    z-index: 6454555;
}

#about .about-title .shadow, #portfolio .portfolio-title .shadow,
.my-modal .about-title .shadow {
    font-size: 110px;
    text-transform: uppercase;
    font-family: var(--font-pop);
    position: absolute;
    top: 7%;
    left: 50%;
    transform: translateX(-50%);    
    opacity: 0.4;
}

#about .about-title .pp-about,
.my-modal .about-title .pp-about {
    display: none;
}

#about .personal-info h3,
.my-modal .personal-info h3 {
    color: #fff;
    font-size: 26px;
    font-family: var(--font-pop);
    text-transform: uppercase;
}

#about .personal-info ul,
.my-modal .personal-info ul {
    columns: 2;
    line-height: 2.5;
    /* width: 70%; */
}

#about .personal-info ul li,
.my-modal .personal-info ul li {
    color: #525252;
    font-family: var(--font-open);
}

#about .completed-projects .box,
.my-modal .completed-projects .box {
    border: 1px solid var(--divider-color);
    border-radius: 5px;
    padding: 15px 30px;
    font-family: var(--font-pop);
}

#about .completed-projects .box div,
.my-modal .completed-projects .box div {
    font-size: 50px;
    color: var(--main-color);
}

#about .divider, 
.my-modal .divider {
    width: 40%;
    margin: auto;
    height: 1px;
    background-color: var(--divider-color);
}

#about .skills h3 {
    font-family: var(--font-pop);
    font-size: 26px;
    text-transform: uppercase;
    padding-bottom: 2rem;
}

#about .skill-container {
    width: 70%;
    margin: auto;
}

#htmlProgress, #cssProgress, #bootProgress,
#jsProgress, #jqProgress, #angularProgress, 
#sassProgress, #gitProgress {
    width: 100px;
    height: 100px;
    position: relative;
  }

/* Certifications */
#about #certifications .certifications-wrapper,
.my-modal #certifications .certifications-wrapper {
    width: 70%;
    margin: auto;
}

#about #certifications p,
.my-modal #certifications p {
    color: #fff;
    font-family: var(--font-pop);
}

#about #certifications a,
.my-modal #certifications a {
    color: var(--main-color);
    text-decoration: none;
    font-family: var(--font-open);
}

#about #certifications img,
.my-modal #certifications img {
    width: 100%;
    height: 250px;
    border-radius: 7px;
}

#about #certifications .fit-for-image,
.my-modal #certifications .fit-for-image {
    height: 250px;
}

#about #certifications .layer,
.my-modal #certifications .layer {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    border-radius: 7px;
    transition: all 1s;
}

#about #certifications .fit-for-image:hover .layer,
.my-modal #certifications .fit-for-image:hover .layer {
    transform: rotate(360deg);
    background-color: rgba(150, 122, 46, 0.4);
}

#about #certifications .fit-for-image:hover img,
.my-modal #certifications .fit-for-image:hover img {
    transform: scale(1.1);
    transition: transform 1s 1s;
}

#about #certifications .fit-for-image:hover h3,
.my-modal #certifications .fit-for-image:hover h3 {
    left: 0;
    transition: left 1s 2s;
}

#about #certifications .fit-for-image:hover p,
.my-modal #certifications .fit-for-image:hover p {
    left: 0;
    transition: left 1s 2.5s;
}

#about #certifications .layer h3,
.my-modal #certifications .layer h3 {
    font-family: var(--font-open);
    color: var(--main-bg-color);
    position: relative;
    left: 125%;
}

#about #certifications .layer p,
.my-modal #certifications .layer p {
    position: relative;
    left: 125%;
}


/* ====================================== ABOUT ====================================== */
/* ====================================== ABOUT Media Query ====================================== */
@media screen and (max-width: 600px) {

    #about .about-title h2,
    .my-modal .about-title h2 {
        font-size: 35px;
    }

    #about .about-title .shadow,
    .my-modal .about-title .shadow {
        display: none;
    }

    #about .about-title .pp-about,
    .my-modal .about-title .pp-about {
        border-radius: 50%;
        width: 50%;
        border: 4px solid #222;
        transform: translate(50%, 10%);
        display: block;
    }

    #about .personal-info span,
    .my-modal .personal-info span {
        display: block;
    }

    #about .completed-projects,
    .my-modal .completed-projects {
        flex-direction: column !important;
        align-items: center;
    }

    #about #certifications #third-certificate,
    .my-modal #certifications #third-certificate {
        border-left: 1px solid #dee2e6;
    }
}
/* ====================================== ABOUT Media Query ====================================== */
/* ====================================== END ABOUT ====================================== */
/* ====================================== PORTFOLIO ====================================== */



















#contact h3, #in-qs h3 {
    color: var(--main-color);
}

#contact div, #in-qs div {
    font-family: var(--font-pop);
}